{% extends 'layout.html' %}
{% block content %}
    <div class="container songs">
        <div class="row">
        {% for song in songs %}
           <div class ="col-md-4">
           <img src ="static/img/{{song.image}}" alt ="song-img" height="200" width ="190" class="img-rounded">
            <h4> Title: {{ song.title }} </h4>
            <p> Singers: {{ song.singers }} </p>
            <p> song lyricist: {{ song.song_lyricist }} </p>
            <p> Average Rating: {{ song.avg_rating }} </p>
            <p>music director : {{ song.music_director }} </p>
               <p><a href="{{ url_for('main.display_publisher', publisher_id=song.pub_id) }}">Publisher ID: {{ song.pub_id }}</a></p>
               <span class="label label-success"><a href="{{ url_for('main.create_song', pub_id=song.pub_id) }}" style="color: floralwhite"> create </a></span>
             <span class="label label-primary"><a href="{{ url_for('main.edit_song', song_id=song.id) }}" style="color: floralwhite"> edit </a></span>
             <span class="label label-info"><a href="{{ url_for('main.delete_song', song_id=song.id) }}" style="color: floralwhite"> delete </a></span>
            <br>
           </div>
         {%endfor%}
        </div>
    </div>
{% endblock content %}
